<!DOCTYPE html>
<html ng-app="todoapp">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="HomeController as vm">
    <h1 style="text-align:center;">TODO APP</h1>

    <div class="container">
      <form ng-submit="vm.addTodo()">
        <input class="form-control" type="text" placeholder="What's on your list?" ng-model="vm.newTodo">
        <!-- <button class="btn btn-primary" type="button" ng-click="vm.addTodo()">Add to my list</button> -->
      </form>
      <button type="button" ng-click="vm.clearList()" class="btn btn-warning center-block">delete</button> <br><br>

    </div>
    <div class="container">
      <ul>
        <li ng-repeat="t in vm.todos">
          <input type="checkbox" ng-model="t.completed">
          <span ng-class="{'completed':vm.todos.completed}">{{t.item}}</span>
        </li>
      </ul>
    </div>


    <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <script src="homeController.js" charset="utf-8"></script>
  </body>
</html>
